# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\自己的java\javaee-200211-scw\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
